.cart-little {
    background: var(--dark-main);
    max-width: 378px;
    width: 100%;
    margin: 80px 20px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    transition: all .4s linear;

    &:hover {
        transform: scale(1.03);
    }
}


.score {
    display: flex;
     max-width: 96px;
     width: 100%;

     &__content {
         font-family: 'Jost';
        margin: auto;
        color: var(--red);
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        background: var(--white);
        padding: 8px 5px;

        &--img {
            background: none;
        }
     }
}
