.coefficient {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        margin: 0 10px;
        height: 100%;
    }

    &__title {
        font-family: 'PF Din Text Comp Pro';
        color: var(--white);
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        border: 3px solid var(--white);
        border-radius: 20px;
        padding: 2px 10px;
        letter-spacing: 0.05em;
    }
    &__text {
        font-family: 'PF Din Text Comp Pro';
        letter-spacing: 0.05em;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        margin: 5px 0 0;
        color: var(--grey-light);
        text-align: center;
    }

    &__title--green {
        background: var(--green);
    }

    &__title--red {
        background: var(--red);
    }
}